.characters-page {
	font-family: "Poller One";
    display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
    font-size: 2em;
	.characters {
		position: absolute; 
        z-index: 1;
		p {
			margin-left: 1em; 
			font-weight: bold;
		}
		li{
			font-size: 0.5em;
		}
	}
	img {
		background-size: cover;
		height: 100vh;
		width: 100vw;
		z-index: -1;
		opacity: 0.4;
	}
	.error{
		color: red;
	}
}



